body {
    background: linear-gradient(90deg, #b99007, #c739af);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: none;
}

h1 {
    font-size: 9.5vh;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 50vh;
    background-color: #00000018;
    border-radius: 25px;
    box-shadow: 6px 6px 12px 3px #0000003b;
}

.containerRelogio, .containerCronometro {
    color: #0f000f94;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 1s ease;
}

